<% content_for :main_section do %>
  <div class="eight columns">
    <%= content_for?(:first_section) ? yield(:first_section) : yield %>
  </div>
  <div class="four columns">
    <%= yield(:second_section) if content_for?(:second_section) %>
  </div>
<% end %>

<%= render :file => 'layouts/main' %>